<div data-role="page">
    <div data-role="header">
        <a href="#" data-rel="back" class="ui-btn ui-icon-arrow-l ui-btn-icon-left ui-shadow">返回</a>
        <h1>内置浏览器功能</h1>
    </div>
    <div role="main" class="ui-content">
        <p>使用cordova-plugin-inappbrowser插件:</p>
        <p>1，<a href="javascript:openUrl('https://www.chuzhitong.com');">点击打开服务器网页连接1</a></p>
        <p>2，<a href="javascript:openTel();">使用tel:拨打电话，真机可以打，虚拟机不能打</a></p>
        <p>3，<a href="javascript:openBuiduMap();">使用baidumap:跳转百度地图，实现导航、定位等功能，需要真机测试</a></p>
        <p>3，<a href="javascript:openGaodeMap();">使用amapuri:跳转高德地图，实现导航、定位等功能，需要真机测试</a></p>
    </div>
</div>