<div data-role="page">
    <div data-role="header">
        <a href="#" data-rel="back" class="ui-btn ui-icon-arrow-l ui-btn-icon-left ui-shadow">返回</a>
        <h1>相机插件</h1>
    </div>
    <div role="main" class="ui-content">
        <p>请查看一下调用示例</p>
        <div data-role="collapsible">
            <h1 onclick="openCamera()">调起相机拍照</h1>
            <img id="imgInfo1" width="100%"></img>
        </div>

        <div data-role="collapsible">
            <h1 onclick="openPhoto()">选择照片</h1>
            <img id="imgInfo2"  width="100%"></img>
        </div>
    </div>
</div>

