<div data-role="page">
    <div data-role="header">
        <a href="#" data-rel="back" class="ui-btn ui-icon-arrow-l ui-btn-icon-left ui-shadow">返回</a>
        <h1>本地文件管理</h1>
    </div>
    <div role="main" class="ui-content">
        <p>文件插件完全遵守<a onclick="javascript:openUrl('https://github.com/apache/cordova-plugin-file')">https://github.com/apache/cordova-plugin-file</a>的使用规则</p>
        <p>请查看一下调用示例</p>
        <div data-role="collapsible">
            <h1 onclick="getFile()">点击下载、保存、拷贝并显示图片</h1>
            <img id="imageFile"></img>
        </div>
    </div>
</div>