<div data-role="page">
    <div data-role="header">
        <a href="#" data-rel="back" class="ui-btn ui-icon-arrow-l ui-btn-icon-left ui-shadow">返回</a>
        <h1>自定义插件调用</h1>
    </div>
    <div role="main" class="ui-content">
        <p>自定义插件请查看鸿蒙三方库中心harmony-cordova的说明，这里不再说明</p>
        <p>调用自定义插件TestPlugin</p>
        <a href="javascript:sayHello()" data-role="button">弹窗</a>
        <a href="javascript:openSystemBrowser()" data-role="button">打开系统浏览器</a>
        <a href="javascript:openOtherPage()" data-role="button">跳转原生界面</a>
        <a href="javascript:otherFunction()" data-role="button">设置webview属性等</a>
    </div>
</div>
