<div data-role="page">
    <div data-role="header">
        <a href="#" data-rel="back" class="ui-btn ui-icon-arrow-l ui-btn-icon-left ui-shadow">返回</a>
        <h1>鸿蒙cordova说明</h1>
    </div>
    <div role="main" class="ui-content">
        <p>这是一个harmony cordova的demo程序，主要展示如何使用鸿蒙的cordova，便于您快速将Android或者Ios工程迁移到鸿蒙系统中。为了更快速学习，该demo程序使用大家熟悉的jquery单页面前端架构，代码简单易学，但没有过多UI上美化。</p>
        <p>harmony cordova和所有插件完全遵守cordova官方标准，因此迁移可以再几分钟内完成，无需进行投入研发。有需要技术服务可以联系开发者。微信号：magongshou888</p>
        <p></p>
    </div>
</div>